<li class="page-item">
  <%#= link_to_unless current_page.first?, raw(t 'views.pagination.first'), url, remote: remote, class: 'page-link' %>
  <%= link_to_unless current_page.first?, raw('<span aria-hidden="true">&laquo;</span>').html_safe, url, remote: remote, class: 'page-link' %>
</li>
