<li class="page-item">
  <%= link_to_unless current_page.first?, "<span class='d-block d-sm-none'>&laquo;</span><span class='d-none d-sm-block'>#{raw(t 'views.pagination.first')}</span>".html_safe, url, remote: remote, class: 'page-link' %>
</li>
