<li class="page-item">
  <%= link_to_unless current_page.last?, "<span class='d-block d-sm-none'>&raquo;</span><span class='d-none d-sm-block'>#{raw(t 'views.pagination.last')}</span>".html_safe, url, remote: remote, class: 'page-link' %>
</li>
