<li class="page-item">
  <%= link_to_unless current_page.last?, "<span class='d-block d-sm-none'>&rsaquo;</span><span class='d-none d-sm-block'>#{raw(t 'views.pagination.next')}</span>".html_safe, url, rel: 'next', remote: remote, class: 'page-link' %>
</li>
