<li class="page-item">
  <%= link_to_unless current_page.first?, "<span class='d-block d-sm-none'>&lsaquo;</span><span class='d-none d-sm-block'>#{raw(t 'views.pagination.previous')}</span>".html_safe, url, rel: 'prev', remote: remote, class: 'page-link' %>
</li>
